
.firstCol {
    
    width: 4.5rem;
    height: 130vh;
    transition: width 1s;
    -webkit-transition: height 1s;
    overflow: hidden;
    position: relative;
    z-index: 9;
    background-color:  rgb(249, 251, 253) ;
     box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;;
}

.firstCol:hover {
    width: 15rem;
}


.zen-logo {
    overflow: hidden;
    height: 70px;
    width: 70px;
    margin-top: 5px;
}


